body {
  color: rgb(60, 60, 60);
  background-color: rgba(0, 0, 0, 0);
}
p {
  font-size: 1.2rem;
}
.bg-pro{
}
.light-container {
  border-radius: 10px;
  padding: 10px;
  color: rgb(60, 60, 60);
  background: white;
  -webkit-box-shadow: 5px 5px 15px -1px #0076B8;
  box-shadow: 5px 5px 15px -1px #0076B8;
  margin-bottom: 10px;
}

.circle {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: #8393e7;
}
.circle-content {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px;
}
.plus-button {
  background: transparent;
  border-style: solid;
  box-shadow: none;
  border-color: white;
  color: gray;
  background-color: white;
  font-weight: bold;
  border-width: 1px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  text-align: center;
  -webkit-box-shadow: 5px 5px 13px -5px #000000;
  box-shadow: 5px 5px 13px -5px #000000;
}
.cursor-pointer {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.center-v {
  display: flex;
  align-items: center;
}
.col-center-h {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.between-h {
  display: flex;
  justify-content: space-between;
}

.modal-content {
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-weight: bold;
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-weight: bold;
  font-size: 55px;
  color: black;
}
